@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.buttonSlideIn {
    animation: slideInFromBottom 0.5s ease-in forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.sloganSlideIn {
    animation: slideInFromLeft 0.5s ease-in forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.imgSlideIn {
    animation: slideInFromRight 0.5s ease-in forwards;
}