@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.SlideInFromBottom {
    animation: slideInFromBottom 0.6s ease-in forwards;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.SlideInFromTop {
    animation: slideInFromTop 0.3s ease-in forwards
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.SlideInFromRight {
    animation: slideInFromRight 0.6s ease-in forwards
}