@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.slideTopIn {
    animation: slideInFromTop 0.7s ease-in forwards;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.slideBottomIn {
    animation: slideInFromBottom 0.7s ease-in forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.restSlideIn {
    animation: slideInFromRight 0.5s ease-out forwards;
}